body {
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

header {
    font-size: 32pt;
    text-align: center;
}

.center {
    text-align: center;
}

#textarea {
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-family: monospace;
}

.control-group {
    text-align: center;
}

fieldset {
    border: 5px solid black;
    display: inline-block;
}

button, select {
    font-size: 12pt;
}

label[for="speed"] {
    cursor: pointer;
}

footer::before, footer::after {
    clear: both;
}

.validator {
    float: right;
}

.validator > a {
    display: block;
}